footer {
    visibility: hidden
}
.gradio-container {
    background-repeat: repeat-x;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.logo img {
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
.main-header h1 {
    color: #00192C;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.main-header p {
    color: #00192C;
    font-size: 1.0em;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
}
.radiobutton span {
    font-size: 1.0em;
}
.radiobutton label {
    background:  #FFFFFF;
    border: 0px;
}
.radiobutton label.selected {
    background:  #FFFFFF;
}
.radiobutton input {
    background-color: #E9E9E9;
}
.component-card {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.component-card h1 {
    color: #00192C;
    font-size: 1.2em;
    font-weight: bold;
}
.component-card p {
    visibility: hidden
}
.component-card video {
    height: 300px;
}
.component-card button {
    font-size: 1.0em;
}
.component-card table {
    font-size: 0.9em;
}
.component-card .examples button {
    background: #FFFFFF;
    flex-direction: row;
    position: relative;
}
.chat-interface p {
    font-size: 0.9em;
    color: #0068B5;
    visibility: visible;
}
.chat-interface span {
    font-size: 0.9em;
}
.textbox-interface textarea {
    font-size: 0.9em;
    box-sizing: border-box;
    border-radius: 10px;
}
.textbox-interface button {
    background-color: #00192C;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px; 
}