# Python environment
.venv
.export-venv
__pycache__
.cache

# Payload cache
/frontend/.env
/frontend/.next
/frontend/db.sqlite
/frontend/node_modules

# Thirdparty
/thirdparty/
/workers/thirdparty
/workers/text-to-speech/kokoro/thirdparty

/models

tmp
/logs

/tests/coverity/*
!/tests/coverity/coverity_scan.sh
/tests/shellcheck/*
!/tests/shellcheck/shellcheck_scan.sh

/build

*.log
/out/*
!/out/README.md
!/out/start_web.sh
!/out/setup.sh
!/out/start_web.bat
!/out/setup.bat

/.installed