# Copyright (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

HF_ENDPOINT="https://huggingface.co"
NEXT_MANUAL_SIG_HANDLE=true
NEXT_EXIT_TIMEOUT_MS=30000
DATABASE_URL=file:./db.sqlite
ENABLE_LOGS=false
PORT=8080
PAYLOAD_SECRET=